@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100vh;
        background: #003f6e;
    }

    nav {
        display: flex;
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
        background: #003f6e;
    }

    nav .logo {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    nav .logo img {
        width: 60px;
        height: 60px;
    }

    nav .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    nav .links a {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        text-decoration: none;
        font-size: 10px;
        padding: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .containers {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .containers .inputs {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
        background-color: #1e4f75;
    }

    .containers .inputs input {
        background-color: transparent;
        border: none;
        width: 250px;
        padding-bottom: 150px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
    }

    .containers .inputs input:focus {
        outline: none;
    }

    .containers .boton {
        width: 100px;
        height: 30px;
        border-radius: 20px;
        background-color: #fbfbfb;
        padding-bottom: 1px;
        padding-right: 1px;
    }

    .containers .boton button {
        background-color: #003f6e;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 2px solid #fbfbfb;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
    }

    .containers .container1 {
        display: flex;
        flex-direction: column;
    }

    .containers .container1 .separador {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #003157;
    }

    .containers .container1 .separador h1 {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        font-size: 20px;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .boxes .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 200px;
        background-color: #1e4f75;
        border-radius: 20px;
        margin-top: 10px;
    }

    .boxes .box h2 {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        font-size: 20px;
        text-align: center;
    }

    .boxes .box p {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #fbfbfb;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .barra {
        display: flex;
        height: 50px;
        align-items: center;
        margin-top: 30px;
        background-color: #003157;
    }

    .barra .links {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .barra .links img {
        width: 40px;
        height: 40px;
    }

    .barra .links a {
        margin-left: 10px;
        text-decoration: none;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #000;
        font-size: 15px;
    }
}