@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 600px) {
    .pie-pagina {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #8bc092;
        position: relative;
    }

    .pie-pagina .Copy {
        position: absolute;
        text-align: center;
        bottom: 2px;
        font-size: 12px;
    }

    .pie-pagina .logo {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 10px;
    }

    .pie-pagina .menu, .pie-pagina .redes {
        margin-top: 120px;
    }

    .pie-pagina .redes {
        margin-left: 30px;
    }

    .pie-pagina h1 {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        color: #fbfbfb;
        font-size: 25px;
    }

    .pie-pagina ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-bottom: 40px;
    }

    .pie-pagina .menu a {
        border-bottom: 2px solid #fbfbfb;
    }

    .pie-pagina ul li img {
        width: 30px;
        height: 30px;
    }

    .pie-pagina ul li a {
        display: flex;
        text-decoration: none;
        color: #fbfbfb;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        gap: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}