<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="../img/logo blanco.png">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/mobil/blog-mobil.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo blanco.png" alt="" width="70px" height="70px">
            </div>
            <div class="links">
                <a href="../index.html">INICIO</a>
                <a href="servicios.html">SERVICIOS</a>
                <a href="psicologos.html">PSICÓLOGOS</a>
                <a href="blog.html" class="active">BLOG</a>
                <a href="hablanos.html">HÁBLANOS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="imagen">
        <img src="../img/Portada1.jpeg" alt="" width="100%" height="100%">
    </div>
    <div class="containers">
        <div class="container1">
            <div class="articulos">
                <a href="articulo1.html"><img src="../img/icon-articulo.png" height="100px" width="100px"></a>
                <h1>El Viaje del Corazón: Cómo la Resiliencia Transforma la Ansiedad en Oportunidades</h1>
            </div>
            <div class="articulos">
                <a href="articulo2.html"><img src="../img/icon-articulo.png" height="100px" width="100px"></a>
                <h1>La prisión invisible: Cómo la ansiedad puede controlar tu vida</h1>
            </div>
        </div>
        <div class="container2">
            <div class="articulos">
                <a href="articulo3.html"><img src="../img/icon-articulo.png" height="100px" width="100px"></a>
                <h1>Prioriza tu Salud Mental: El Impacto de la Terapia y el Acompañamiento Cercano</h1>
            </div>
            <div class="articulos">
                <a href="articulo4.html"><img src="../img/icon-articulo.png" height="100px" width="100px"></a>
                <h1>Un Enfoque Integral para el Bienestar</h1>
            </div>
        </div>
    </div>
    <div class="barra"></div>
</body>
</html>