<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="../img/logo blanco.png">
    <link rel="stylesheet" href="../css/hablanos.css">
    <link rel="stylesheet" href="../css/mobil/hablanos-mobil.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo blanco.png" alt="" width="70px" height="70px">
            </div>
            <div class="links">
                <a href="..//index.html">INICIO</a>
                <a href="servicios.html">SERVICIOS</a>
                <a href="psicologos.html">PSICÓLOGOS</a>
                <a href="blog.html">BLOG</a>
                <a href="hablanos.html" class="active">HÁBLANOS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="containers">
        <div class="inputs">
            <input type="text" placeholder="Escribe mas de ti...">
            <div class="boton">
                <button>Enviar texto</button>
            </div>
        </div>
        <div class="container1">
            <div class="separador">
                <h1>OBJETIVOS DE FULLNESS</h1>
            </div>
            <div class="boxes">
                <div class="box">
                    <h2>Visión</h2>
                    <p>
                        Buscamos ser un impulso entre
                        psicólogos y jóvenes, promoviendo
                        la salud mental y el bienestar en
                        nuestra comunidad. Generando un
                        acceso fácil y eficiente a servicios
                        psicológicos de calidad.
                    </p>
                </div>
                <div class="box">
                    <h2>Misión</h2>
                    <p>
                        Buscamos ser un impulso entre
                        psicólogos y jóvenes, promoviendo
                        la salud mental y el bienestar en
                        nuestra comunidad. Generando un
                        acceso fácil y eficiente a servicios
                        psicológicos de calidad.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="barra">
        <div class="links">
            <a href="https://www.instagram.com/fullness.psicologia?igsh=d21xNmc2OXV4OGox" target="_blank"><img src="../img/logotipo-de-instagram.png" width="40px" height="40px"></a>
            <a href="https://www.instagram.com/fullness.psicologia?igsh=d21xNmc2OXV4OGox" target="_blank">fullness_ofl</a>
        </div>
        <div class="links">
            <a href="" target="_blank"><img src="../img/facebook.png" width="40px" height="40px"></a>
            <a href="" target="_blank">fullness_ofl</a>
        </div>
    </div>
</body>
</html>
