<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="../img/logo blanco.png">
    <link rel="stylesheet" href="../css/nosotros.css">
    <link rel="stylesheet" href="../css/pie-pagina.css">
    <link rel="stylesheet" href="../css/mobil/navMobil.css">
    <link rel="stylesheet" href="../css/mobil/piePaginaMobil.css">
    <link rel="stylesheet" href="../css/mobil/nosotrosMobil.css">
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo blanco.png" width="70px" height="70px">
            </div>
            <img src="../img/cerrarMenu.png" id="cerrar" class="cerrar">
            <img src="../img/menu.png" id="menu" class="menu">
            <div class="links" id="links">
                <a href="../index.html">INICIO</a>
                <a href="servicios.html">SERVICIOS</a>
                <a href="psicologos.html">PSICÓLOGOS</a>
                <a href="blog.html" class="active">BLOG</a>
                <a href="hablanos.html">HÁBLANOS</a>
                <a href="nosotros.html">NOSOTROS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="containers">
        <div class="container1">
            <h1>Nuestro equipo de trabajo</h1>
            <ul>
                <li>
                    <img src="../img/Foto2.jpeg" alt="">
                    <h1>Estefania David Herrera</h1>
                </li>
                <li>
                    <img src="../img/Foto3.jpeg" alt="">
                    <h1>Elizabeth Montes Martinez</h1>
                </li>
                <li>
                    <img src="../img/Foto1.jpeg" alt="">
                    <h1>Mariam Yepes Cano</h1>
                </li>
                <li>
                    <img src="../img/Foto4.jpeg" alt="">
                    <h1>Sofia Valderrama Garces</h1>
                </li>
            </ul>
        </div>
        <div class="container2">
            <ul>
                <li>
                    <h1>Visión</h1>
                    <p>
                        Buscamos ser un impulso entre
                        psicólogos y jóvenes, promoviendo
                        la salud mental y el bienestar en
                        nuestra comunidad. Generando un
                        acceso fácil y eficiente a servicios
                        psicológicos de calidad.
                    </p>
                </li>
                <li>
                    <h1>Misión</h1>
                    <p>
                        Queremos que los jóvenes
                        conozcan la importancia de
                        tener hábitos para una buena salud
                        mental. Al igual que los psicologos
                        encuentren más pasión por su
                        carrera y ayudar a quien tanto
                        esta necesitando ser escuchado.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="pie-pagina">
        <img class="logo" src="../img/logo blanco.png" alt="">
        <div class="menu">
            <h1>Menu</h1>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="psicologos.html">PSICÓLOGOS</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="hablanos.html">HÁBLANOS</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
            </ul>
            </div>
        <div class="redes">
            <h1>Redes sociales</h1>
            <ul>
                <li><a href="https://www.instagram.com/fullness.psicologia?igsh=d21xNmc2OXV4OGox" target="_blank"><img src="../img/Instagram_blanco.png"><p>INSTAGRAM</p></a></li>
                <li><a href="https://www.facebook.com/share/1AgWS7wmkH/?mibextid=wwXIfr" target="_blank"><img src="../img/facebook-blacon.png" alt=""><p>FACEBOOK</p></a></li>
                <li><a href="https://www.youtube.com/@FULLNESS-r5s" target="_blank"><img src="../img/youtube.png" alt=""><p>YOUTUBE</p></a></li>
            </ul>
        </div>
    </div>
    <script src="../js/menuMobil.js"></script>
</body>
</html>
