<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="../img/logo blanco.png">
    <link rel="stylesheet" href="../css/psicologo.css">
    <link rel="stylesheet" href="../css/mobil/psicologos-mobil.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/mobil/navMobil.css">
    <link rel="stylesheet" href="../css/mobil/piePaginaMobil.css">
    <link rel="stylesheet" href="../css/pie-pagina.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo blanco.png" width="70px" height="70px">
            </div>
            <img src="../img/cerrarMenu.png" id="cerrar" class="cerrar">
            <img src="../img/menu.png" id="menu" class="menu">
            <div class="links" id="links">
                <a href="../index.html">INICIO</a>
                <a href="servicios.html">SERVICIOS</a>
                <a href="psicologos.html" class="active">PSICÓLOGOS</a>
                <a href="blog.html">BLOG</a>
                <a href="hablanos.html">HÁBLANOS</a>
                <a href="nosotros.html">NOSOTROS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="container">
        <h1 class="titulo">CONOCE A NUESTROS PSICÓLOGOS</h1>
        <div class="psicologos">
            <ul>
                <li>
                    <img src="../img/psicologo1.jpeg" alt="">
                    <h1>Michell Escobar</h1>
                    <button id="desplegarInformacion1">Biografia</button>
                </li>
                <li>
                    <img src="../img/psicologo2.jpeg" alt="">
                    <h1>Camila Velez</h1>
                    <button id="desplegarInformacion2">Biografia</button>
                </li>
                <li>
                    <img src="../img/psicolog3.jpeg" alt="">
                    <h1> Susana Ramirez</h1>
                    <button id="desplegarInformacion3">Biografia</button>
                </li>
                <li>
                    <img src="" alt="">
                    <h1>Nombre</h1>
                    <button id="desplegarInformacion4">Biografia</button>
                </li>
                <li>
                    <img src="" alt="">
                    <h1>Nombre</h1>
                    <button id="desplegarInformacion5">Biografia</button>
                </li>
                <li>
                    <img src="" alt="">
                    <h1>Nombre</h1>
                    <button id="desplegarInformacion6">Biografia</button>
                </li>
                <div class="informacion" id="informacion1">
                    <button id="cerrar1"><img src="../img/eliminar.png"></button>
                    <p>
                        Hola, soy Michell Escobar, tengo 20 años, 
                        soy profesional en psicología graduada de la universidad Uniminuto. 
                        Mi principal herramienta de trabajo es la vocación y el amor por lo que hago. 
                        Mis conocimientos están en sintonía para fomentar tu bienestar.
                    </p>
                </div>
                <div class="informacion" id="informacion2">
                    <button id="cerrar2"><img src="../img/eliminar.png"></button>
                    <p>
                        Hola, soy camila velez, 
                        tengo 29 años y soy graduada de la Fundación Universitaria 
                        Maria Cano y soy psicóloga clínica con enfoque dinámico. 
                        Las estrategias profesionales dentro de mi labor se basan en conocimientos basados 
                        en el ser y todas sus facetas del momento de vida. Me considero una profesional de la salud mental 
                        con una escucha asertiva, receptiva frente a la forma de guiar los momentos de la terapia.
                    </p>
                </div>
                <div class="informacion" id="informacion3">
                    <button id="cerrar3"><img src="../img/eliminar.png"></button>
                    <p>
                        Hola, soy Susana Ramirez, tengo 19 años y soy graduada de la Universidad Luis Amigó 
                        y soy profesional el psicología. Considero que tengo las cualidades 
                        necesarias para desarrollarme en el campo laboral y brindarte la mejor 
                        atención psicológica posible.
                    </p>
                </div>
                <div class="informacion" id="informacion4">
                    <button id="cerrar4"><img src="../img/eliminar.png"></button>
                    <p>
                        
                    </p>
                </div>
                <div class="informacion" id="informacion5">
                    <button id="cerrar5"><img src="../img/eliminar.png"></button>
                    <p>
                        
                    </p>
                </div>
                <div class="informacion" id="informacion6">
                    <button id="cerrar6"><img src="../img/eliminar.png"></button>
                    <p>

                    </p>
                </div>
            </ul>
        </div>
    </div>
    <div class="pie-pagina">
        <img class="logo" src="../img/logo blanco.png" alt="">
        <div class="menu">
            <h1>Menu</h1>
                <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="psicologos.html">PSICÓLOGOS</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="hablanos.html">HÁBLANOS</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
            </ul>
            </div>
        <div class="redes">
            <h1>Redes sociales</h1>
            <ul>
                <li><a href="https://www.instagram.com/fullness.psicologia?igsh=d21xNmc2OXV4OGox" target="_blank"><img src="../img/Instagram_blanco.png"><p>INSTAGRAM</p></a></li>
                <li><a href="https://www.facebook.com/share/1AgWS7wmkH/?mibextid=wwXIfr" target="_blank"><img src="../img/facebook-blacon.png" alt=""><p>FACEBOOK</p></a></li>
                <li><a href="https://www.youtube.com/@FULLNESS-r5s" target="_blank"><img src="../img/youtube.png" alt=""><p>YOUTUBE</p></a></li>
            </ul>
        </div>
    </div>
    <script src="../js/menuMobil.js"></script>
    <script src="../js/infromacionPsicologos.js"></script>
</body>
</html>
