<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FULLNESS</title>
    <link rel="icon" href="../img/logo blanco.png">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/servicios.css">
    <link rel="stylesheet" href="../css/mobil/servicios-mobil.css">
    <link rel="stylesheet" href="../css/mobil/navMobil.css">
    <link rel="stylesheet" href="../css/mobil/piePaginaMobil.css">
    <link rel="stylesheet" href="../css/pie-pagina.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../img/logo blanco.png" width="70px" height="70px">
            </div>
            <img src="../img/cerrarMenu.png" id="cerrar" class="cerrar">
            <img src="../img/menu.png" id="menu" class="menu">
            <div class="links" id="links">
                <a href="../index.html">INICIO</a>
                <a href="servicios.html" class="active">SERVICIOS</a>
                <a href="psicologos.html">PSICÓLOGOS</a>
                <a href="blog.html">BLOG</a>
                <a href="hablanos.html">HÁBLANOS</a>
                <a href="nosotros.html">NOSOTROS</a>
            </div>
            <div class="espacio"></div>
        </nav>
    </header>
    <div class="imagen">
        <img src="../img/banner2.jpeg" alt="" width="100%" height="100%">
    </div>
    <div class="containers">
        <div class="container1">
            <div class="textos">
                <h1>Cuentanos tus experiencias</h1>
                <div class="texto">
                    <p>En esta sesion queremos saber mas
                        de ti, cuales son esas vivencias que
                        te han marcado para saber asi como
                        ayudarte y como puedes servir de
                        referente a otras personas que al
                        igual que tu estan pasando por la
                        misma dificultad.</p>
                </div>
            </div>
            <div class="textos">
                <h1>Charlas</h1>
                <div class="texto">
                    <p>Te brindaremos terapia y charla con
                        psicologos los cuales te ayudaran a
                        ver las cosas de una manera diferente
                        brindandote alternativas que ayuden a
                        tu mente a mantener una estabilidad
                        que te aporte a tu salud fisica.</p>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="textos">
                <h1>Sesión de preguntas</h1>
                <div class="texto">
                    <p>
                        Aca queremos saber cuales son tus
                        inquietudes, cuales son las dudas que
                        te surgen sobre mantener una buena
                        salud mental o como podemos empezar
                        a preocuparnos por nuestra estabilidad emocional.
                    </p>
                </div>
            </div>
            <div class="boton">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeF2zNiqAoMl4lP_0ZAzVpeQX2XNCZMq953shONZDZEDftcSg/viewform?usp=sharing" target="_blank">Inscribete aqui</a>
            </div>
        </div>
    </div>
    <div class="pie-pagina">
        <img class="logo" src="../img/logo blanco.png" alt="">
        <div class="menu">
            <h1>Menu</h1>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="psicologos.html">PSICÓLOGOS</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="hablanos.html">HÁBLANOS</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
            </ul>
        </div>
        <div class="redes">
            <h1>Redes sociales</h1>
            <ul>
                <li><a href="https://www.instagram.com/fullness.psicologia?igsh=d21xNmc2OXV4OGox" target="_blank"><img src="../img/Instagram_blanco.png"><p>INSTAGRAM</p></a></li>
                <li><a href="https://www.facebook.com/share/1AgWS7wmkH/?mibextid=wwXIfr" target="_blank"><img src="../img/facebook-blacon.png" alt=""><p>FACEBOOK</p></a></li>
                <li><a href="https://www.youtube.com/@FULLNESS-r5s" target="_blank"><img src="../img/youtube.png" alt=""><p>YOUTUBE</p></a></li>
            </ul>
        </div>
        <h1 class="Copy">© 2025, FULLNESS, Inc. All Rights Reserved</h1>
    </div>
    <script src="../js/menuMobil.js"></script>
</body>
</html>